.container {
    margin-right: auto;
    margin-left: auto;
}
#youwin{
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 500px;
}
#table{display: table;}
.tile1, .tile2, .tile3, .tile4, .tile5, .tile6, .tile7, .tile8, .tile9, .tile10, .tile11,
.tile12, .tile13, .tile14, .tile15, .tile16{
    display: table-cell;
    height: 100px;
    width: 100px;
    background-image: url("bowser.jpg");
    border: 2px black solid;
    cursor: pointer;
}

.tile1{
    background-position: 0 0;
}
.tile2{
    background-position: -100px 0;
}
.tile3{
    background-position: -200px 0;
}
.tile4{
    background-position: -300px 0;
}
.tile5{
    background-position: 0 -100px;
}
.tile6{
    background-position: -100px -100px;
}
.tile7{
    background-position: -200px -100px;
}
.tile8{
    background-position: -300px -100px;
}
.tile9{
    background-position: 0 -200px;
}
.tile10{
    background-position: -100px -200px;
}
.tile11{
    background-position: -200px -200px;
}
.tile12{
    background-position: -300px -200px;
}
.tile13{
    background-position: 0 -300px;
}
.tile14{
    background-position: -100px -300px;
}
.tile15{
    background-position: -200px -300px;
}
.tile16{
    background: white; cursor: default;
}
